.side-bar
  .user-name
    .user-list
      .list-left takashi
      .list-right
        = link_to "#", class: "icon-left" do
          = icon('fas', 'edit')
        = link_to "#", class: "icon-right" do
          = icon('fas', 'cog')

  .group-list
    .group-table
      .table-name tech camp
      .table-message まだメッセージはありません